body{
  font-family: "Trebuchet MS";
  margin:0;
}

input[type=text], input[type=password]{
  width: 20%;
  padding: 6px 10px;
  margin:  10;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 

input[type=submit]{
  /* padding:5px;
  border-radius:10px; */
  /* background-color: #ffa726;
    color: white; */
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 10px;

}